# Exercise: Time Series Manipulations in Pandas

Like in prior exercises, you'll download a ticker's historical data from YahooFinance. But raw data isn't that useful by itself, so in this exercise you'll get practice with manipulating time series data in Pandas.

In [1]:
import pandas as pd
import yfinance as yf

**Pull data for your favorite ticker from YahooFinance**

Use the YF API to pull **daily** price data for at least 3 years for any stock ticker you'd like.

In [2]:
stock_ticker = 'AAPL'
start_date = '2020-01-01' # use format YYYY-MM-DD
end_date = '2024-01-02'

data = yf.download( stock_ticker, start= start_date, end = end_date )

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

**Resample from daily to weekly, taking the Friday price**

Using the above data, resample your `closing` price to weekly. In the demo, we used the last day of the period. In this exercise, can you figure out how to pull the weekly data that's for Friday specifically?

In [3]:
weekly_data_friday = data['Close'].resample('W-FRI').last()

### NOTE: Solution uses anchored offsets. Info here: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets

**Taking time-based slice of your data**

Above you pulled the last 3 years of data for a given ticker. But in lots of trading applications, you don't need data that goes that far back in time as trends and underlying phenomenon have changed. 

Can you take just the last 3 months of data and put it into a new DataFrame?

In [4]:
three_months_ago = data.index.max() - pd.DateOffset(months=3)
three_months_ago

Timestamp('2023-09-29 00:00:00')

In [5]:
last_3_months = data[ data.index >= three_months_ago ] 
last_3_months.head()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2023-09-29  169.741699  171.585748  168.879150  170.544750  51814200
2023-10-02  172.259903  172.805189  169.464080  169.751602  52164500
2023-10-03  170.921478  172.140941  169.355042  170.782680  49594600
2023-10-04  172.170700  172.715986  169.503767  169.622733  53020300
2023-10-05  173.409988  173.945351  171.199102  172.299583  48527900

In [6]:
last_3_months.tail()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2023-12-22  192.192566  193.989405  191.567141  193.761066  37122800
2023-12-26  191.646561  192.480450  191.428159  192.202487  28919300
2023-12-27  191.745819  192.093281  189.700797  191.090629  48087700
2023-12-28  192.172714  193.244865  191.765691  192.728641  34049900
2023-12-29  191.130325  192.986726  190.336138  192.490361  42628800