# Exercise: Pull Data From YahooFinance API

You can't build trading models without financial data! A common source for data are APIs, which are a programmatic way to pull a lot of data from data brokers and vendors that make it available online. 

While many APIs will require an API key or token to identify you, you can use the [YahooFinance API](https://pypi.org/project/yfinance/) without a key for pulling simple and small amounts of historical data. 

Your task here is to: 
* If necessary, download the YahooFinance API Python wrapper package (called `yfinance`)
* Use the `yfinance` package to download historical data for the last 3 years for at least 2 different stock tickers
* Choose your favorite stocks to explore!

In [1]:
# ! pip install yfinance #uncomment this line and run it only once to download the library

In [2]:
import pandas as pd
import yfinance as yf # you may need to install the package first before doing the import

In [13]:
# Define some variables you'll use for pulling in data

stock_ticker_1 = 'TSLA'
stock_ticker_2 = 'MSFT'

start_date = '2020-01-01' # use format YYYY-MM-DD
end_date = '2024-01-02'

To use the YahooFinance API, you may find it useful to look at the documentation. Below, we've started the code for you using the method called download(). 

To figure out what to pass in to that method, take a look at [this page of the YF API documentation](https://github.com/ranaroussi/yfinance?tab=readme-ov-file#multiple-tickers).

In [14]:
data_stock_1 = yf.download( stock_ticker_1, start= start_date, end = end_date ) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

In [15]:
data_stock_2 = yf.download( stock_ticker_2, start= start_date, end = end_date ) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

In [16]:
data_stock_1.head() # check if your download worked

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2020-01-02  28.684000  28.713333  28.114000  28.299999  142981500
2020-01-03  29.534000  30.266666  29.128000  29.366667  266677500
2020-01-06  30.102667  30.104000  29.333332  29.364668  151995000
2020-01-07  31.270666  31.441999  30.224001  30.760000  268231500
2020-01-08  32.809334  33.232666  31.215334  31.580000  467164500

In [17]:
data_stock_2.head() # check if your download worked

Price            Close        High         Low        Open    Volume
Ticker            MSFT        MSFT        MSFT        MSFT      MSFT
Date
2020-01-02  153.042282  153.147093  150.860326  151.289093  22622100
2020-01-03  151.136642  152.403898  150.603064  150.850807  21116200
2020-01-06  151.527298  151.594002  149.126182  149.669298  20813700
2020-01-07  150.145691  152.137085  149.897962  151.803606  21634100
2020-01-08  152.537323  153.213833  150.498284  151.432046  27746500