In [1]:
# Skewness and Kurtosis

In [2]:
import numpy as np
import yfinance as yf

In [3]:
data = yf.download("ES=F")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [4]:
data

Price         Close     High      Low     Open   Volume
Ticker         ES=F     ES=F     ES=F     ES=F     ES=F
Date
2000-09-18  1467.50  1489.75  1462.25  1485.25   104794
2000-09-19  1478.50  1482.75  1466.75  1467.00   103371
2000-09-20  1469.50  1480.50  1450.25  1478.75   109667
2000-09-21  1469.50  1474.00  1455.50  1470.25    98528
2000-09-22  1468.50  1471.00  1436.75  1454.75    97416
...             ...      ...      ...      ...      ...
2025-06-04  5981.00  5999.00  5974.00  5980.00  1097088
2025-06-05  5946.00  6016.50  5928.75  5974.25        0
2025-06-06  6006.75  6025.00  5930.00  5931.75  1278102
2025-06-09  6010.25  6027.75  5992.25  6010.00  1278102
2025-06-10  6032.25  6040.75  6009.00  6012.25    42996

[6244 rows x 5 columns]

In [5]:
daily_returns = data['Close'].pct_change()

In [12]:
daily_returns

Ticker          ES=F
Date
2000-09-18       NaN
2000-09-19  0.007496
2000-09-20 -0.006087
2000-09-21  0.000000
2000-09-22 -0.000681
...              ...
2025-06-04 -0.000084
2025-06-05 -0.005852
2025-06-06  0.010217
2025-06-09  0.000583
2025-06-10  0.003660

[6244 rows x 1 columns]

In [13]:
returns_skewness = daily_returns.skew()
returns_kurtosis = daily_returns.kurtosis() + 3

In [14]:
returns_skewness

Ticker
ES=F    0.00421
dtype: float64

In [15]:
returns_kurtosis

Ticker
ES=F    15.607551
dtype: float64